#profile {
    position: relative;
    padding-top: 130px;

}

.profile-content {
    min-height: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#top-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #E7647E;
    width: 100%;
}

#sub-infos {
    width: 100%;
    padding: 10px;
}

#profile-header {
    height: 30px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #E7647E; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile-header h5 {
    font-size: 17px;
    margin: 0;
}

#profile-header .MuiButtonBase-root {
    color: white;
    box-shadow: none;
    border: 2px solid white;
}

#profile-header .MuiButtonBase-root:hover {
    background-color: white;
    color: #E7647E;
}

.subpart {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.MuiLinearProgress-root {
    width: 100px;
    height: 10px;
    margin-top: 3px;
}