#password-reset {
    height: 100%;
    background: url("../assets/wallpaper.jpg");
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password-reset-content {
    padding: 30px;
    min-height: 500px;
    max-width: 400px;
    background-color: white;
    /* border-radius: 5px; */
    /* box-shadow: 0 0 10px lightgray; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#password-reset .MuiFormControl-root {
    width: 100%;
    position: relative;
}

#password-reset .MuiButtonBase-root {
    background: linear-gradient(to right, #FFD17C, #E7647E);
    font-weight: bold;
}

#password-reset .MuiFormHelperText-root {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
}